<h1> Controller: <%= @ctrl %> e action: <%= @act%> </h1>
<table>
    <tr>
        <th>Equipe:</td>
        <th>Projeto:</td>
        <th>Equipe pai:</td>
        <th><%= link_to 'Edit', :action => 'edit', :teamid => @team.id %></th>
    </tr>

    <tr>
        <td><%=@team.name%></th>
        <td>não possui</th>
        <td>não possui</th>
    </tr>
</table>
<table>
    <tr>
        <th>Equipes Filhas:</td>
    </tr>
    <!-- <tr>
        <th><%= link_to "adicionar equipe filha", '/teams/new' %></th>
    </tr> -->
    <% @team.children.each do |child| %>
    <tr>
        <td><%=child.name%></th>
    </tr>
    <% end %>
</table>

<table>
    <tr>
        <th>Papeis:</td>
    </tr>

    <% @team.roles.each do |r| %>
    <tr>
        <td><%=r.title%></td>
        <table>
            <tr>
                <th>Usuarios:</td>
            </tr>

            <% r.users.each do |u| %>
            <tr>
                <td><%=u.user_description.name%></td>
            </tr>
            <% end %>
        </table>
    </tr>
    <% end %>
</table>
