
<div id="main" class="container-fluid">
   <h2> Bem vindo à Equipe <text class="text-info"> <%=@team.name%></text> !</h2>
    <div class="row">
        <div class="form-group">

            <div class="col-md-2">
                <h4 class="text-success"><strong>Equipe: </strong></h4>
                <p><h4><strong><%=@team.name%></strong></h4></p>
                <p><a class="btn btn-info btn-sm" <%= link_to 'Editar Equipe', :action => 'edit', :teamid => @team.id %></a></p>
            </div>

            <div class="col-md-3">
              <br /><br /><br />
              <a class="btn btn-primary  btn-sm" <%= link_to "Criar Sub Equipe", :controller => 'teams', :action => 'new'  %>

            </div>

            <div class="col-md-2">
                <h4 class="text-success"><strong>Macro-Equipe: </strong></h4>
                <p><h4><strong>Não possui</strong></h4></p>
                <p><a class="btn btn-info btn-sm" href="#"> Visualizar Macro-Equipe</a></p>
            </div>

            <div class="col-md-2">
                <h4 class="text-success"><strong>Projeto: </strong></h4>
                <p><h4><strong> Não possui </strong></h4></p>
                <p><a class="btn btn-info btn-sm" href="#">Editar Projeto</a></p>
            </div>

            <div class="col-md-3">
              <br /><br /><br />
              <a class="btn btn-primary  btn-sm" <%= link_to "Criar Projeto"%>
            </div>            
        </div>
    </div>
</div>
<hr/>
<div class="col-md-4"> 
 <div class = "panel panel-info">
      <div class = "panel-heading">
         <h4 class = "panel-title"><strong>Membros da Equipe</strong>
            <a data-toggle = "collapse" href = "#listaMembros">
              <p><small>(Clique para encolher. Clique novamente para expandir.)</small></p>
            </a>
         </h4>
      </div>
      
      <div id = "listaMembros" class = "panel-collapse collapse">
         <div class = "panel-body">
            <table class = "table table-striped">
            <thead>
                <tr>
                    <% @team.roles.each do |r| %>
                    <th><%=r.title%></th>   
                </tr>
            </thead>

            <tbody>
                <tr>                  
                    <% r.users.each do |u| %>
                    <td><%=u.user_description.name%> <%= u.user_description.last_name%></td>
                </tr>
                <% end %>
               <tr>
                <% end %>
                </tr>
            </tbody>
            </table>
        </div>
      </div>
      
   </div>
</div>

<div class="col-md-4">

</div>
<div class="col-md-4">
   <div class = "panel panel-danger">
      <div class = "panel-heading">
         <h4 class = "panel-title"><strong>Sub Equipes</strong>
            <a data-toggle = "collapse" href = "#listaEquipes">
              <p><small>(Clique para expandir. Clique novamente para encolher.)</small></p>
            </a>
         </h4>
      </div>
      
      <div id = "listaEquipes" class = "panel-collapse collapse">
         <div class = "panel-body"> 
<table>
    <tr>
        <th>Equipes Alocadas à Equipe principal:</td>
    </tr>
    <!-- <tr>
        <th><%= link_to "adicionar equipe filha", '/teams/new' %></th>
    </tr> -->
    <% @team.children.each do |child| %>
    <tr>
        <td><%=child.name%></th>
    </tr>
    <% end %>
</table>
         </div>
    </div>

</div>


<script type = "text/javascript">
   $(function () { $('#listaMembros').collapse('show')});
   $(function () { $('#listaEquipes').collapse('hide')});
  </script>  