<h1>Alterando a operacao <% @operation.controller %> <% @operation.action%></h1>

<%= form_for(:operation, :url => {:action => 'update'}) do |f| %>

	Controller: <%= f.text_field :controller %><br/>
  Action: <%= f.text_field :action %><br/>

  <% if @operation.type == 'OperationRole' %>
  <p>
  	<% @roles.each do |role| %>
  	<div>
  		<%= check_box_tag "role_titles[]", role.title, @operation.roles.include?(role.id) %>
  		<%= role.title %>
  	</div>
  	<% end %>
  </p>
  <% end %>

  <%= f.submit "Save" %>


<% end %>
